
/*
 * grail OVERRIDES - Override every holy grail widths here
 * Rename this file from grail-overrides-rename.css to grail-overrides.css so 
 * it won't be overriden in the next upgrade.
 * Register it in your plaingrail.info to get permanent
 * or better activate it via admin/build/themes/settings/plaingrail to get dynamic on upgrades.
 *
 * See readme.txt for explanation
 * Only CSS that affects widths of main content area, sidebar-left and sidebar-right listed here
 *
 * This file overrides all defaults (layout.css) and devs (grail-devwidth.css),
 * the dynamic widths generated in template.php
 * via admin/build/themes/settings/plaingrail
 * You can copy your preferrable widths from grail-devwidth.css to start with.
 *
 */
 

/*Delete this line to activate and start your own custom overrides. Also delete the last line.
Add regular slash wildcards to all comments! See readme.txt for commented version.


To remove borders:
1. remove the same section from layout.css for good,
2. or better override values to 0 here,
3. or best dynamically via admin/build/themes/settings/plaingrail for smooth upgrades to layout.css
#main-inner, .farleft{border-right:1px solid #eaeaea;}
#main{border-top:1px solid #eaeaea;}

//TWO SIDEBARS ACTIVE
#main {
position:relative;
overflow:hidden;
clear:both;
float:left;
width:100%;
min-height:320px
}

#main-inner {
float:left;
width:200%;
position:relative;
right:100%;
background-color:#eaeaea;
margin-left:-250px;
}
.farleft {
float:left;
width:100%;
background-color:#fff;
margin-left:-150px;
}

#content {
float:left;
width:50%;
padding-bottom:1em
}

#content-inner {
position:relative;
left:100%;
overflow:hidden;
margin:20px 10px 20px 410px;
}

#sidebar-left {
float:right;
position:relative;
left:140px;
width:130px;
}

#sidebar-left-inner {
margin:0;
padding:20px 0
}

#sidebar-right {
float:right;
position:relative;
left:520px;
width:230px;
}

#sidebar-right-inner {
margin:0;
padding:20px 0
}   


//ONE SIDEBAR ACTIVE
body.one-sidebar #main-inner {
margin-left:-400px;
}

body.one-sidebar .farleft {
margin-left:0;
}

body.one-sidebar #content-inner {
margin:20px 10px 20px 410px;
}

body.one-sidebar #sidebar-left, body.one-sidebar #sidebar-right  {
left:390px;
width:380px;
}
//NO SIDEBAR ACTIVE
.no-sidebars #content,.no-sidebars .farleft,
.no-sidebars #main-inner,.no-sidebars #main {
margin:0;
width:100%;
border-right:0
}

.no-sidebars #content-inner {
margin:0;
width:96%
}


//Delete this line as well to activate and start your own custom overrides*/