
/*
 * plain Grail STYLES
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css in your zen core STARTERKIT.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 *   
 * Use this stylesheet to further override what is set on layout.css and all drupal styles
 * Change body font to this if you want serif: georgia,'Times New Roman',Times, serif;
 */


/** body **/
body {
color:#333;
font:82%/145% Verdana, Tahoma, Optima,Lucida,'Lucida Sans Unicode',sans-serif;
line-height:normal;
background-color:#fff
}

#page {
text-align:left
}

#page-inner {
}

/** header **/
#header {
}

#header-inner {
}

#logo-title /* Wrapper for logo,website name,and slogan */ {
position:relative;
}

#logo /* Wrapper for logo */ {
}

#logo-image /* The actual logo image */ {
}

h1#site-name,div#site-name /* The name of the website */ {
font-size:2em;
line-height:1em;
margin:0 0 5px;
}

a:link,a:visited {
color:#000;
text-decoration:none
}
p a:link{
font-weight:800
}
a:hover {
text-decoration:none;
}

#site-name a:link,#site-name a:visited {
text-decoration:none
}

#site-name a:hover {
text-decoration:none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
color:#999;
font-size:1.3em;
}

#site-slogan .curl {
padding-top:5px;
}

#header-blocks /* Wrapper for any blocks placed in the header region */ {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
font-size:100%;
height:50px;
overflow:hidden;
position:absolute;
right:0;
text-align:right;
top:5px;
width:400px;
}

#content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

#content-header /* Wrapper for breadcrumb,title,messages,tabs,and help */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
padding-bottom:1em;/* Undo system.css */
}

h1,h2,h3,h4,h5,h6 {
font-family:Georgia,"Times New Roman",serif;
margin:.5em 0;
font-weight:500
}

h1 {
font-size:2em;
}

h2 {
font-size:1.6em;
}

h3 {
font-size:1.45em;
}

h4 {
font-size:1.333em;
}

h5 {
font-size:1.222em;
}

h6 {
font-size:1.15em;
}

h1.title,/* The title of the page */
h2.title,/* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
margin:0 0 .5em
}

.node h2.title/* Node title */ {
}

#site-name a:hover,.breadcrumb a:hover,.node h2.title a:hover,
.node-inner li a:hover,ul.menu li a:hover, 
.block .item-list li a:hover,
p a:hover{
border-bottom:1px dotted #2D2D2D
}

div.messages /* Important messages (status,warning,and error) for the user */ {
}

div.status /* Normal priority messages */ {
}

div.warning,tr.warning /* Medium priority messages */ {
/* border: 1px solid #f0c020; */
/* Drupal core uses: 1px solid #f0c020 */
}

div.error,tr.error /* High priority messages. See also the .error declaration below. */ {
}

div.tabs /* See also the tabs.css file. */ {
}

div.tabs li {
display:inline;
margin-right:.5em
}
ul.secondary{
background-color:#eaeaea;/*Add background for super high secondary uncovered by core zen background image*/
}
.help /* Help text on a page */ {
margin:1em 0
}

.more-help-link /* Link to more help */ {
font-size:0.85em;
text-align:right
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
clear:both;
margin:1em 0;
text-align:center
}

.pager a,.pager strong.pager-current {
padding:0.5em
}

.pager li {
margin:0;
padding:0
}

.pager a:link,.pager a:visited,.pager-current {
background-color:#f5f5f5;
border:1px solid #ccc;
color:#999;
font-size:.8333em;
font-weight:700;
margin:.3em .1em;
padding:.3em .5em
}

.pager a:hover,.pager a:active {
border:1px solid #999;
color:#666
}

.item-list ul li.pager-current {
background-color:#000;
color:#fff;
font-weight:800
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
margin:0;
position:absolute;
right:200px;
top:0
}

#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/** navbar **/
#navbar {
}

#navbar-inner {
}

/*Reset defaults when using primary-links as block to make secondary-links collapsible*/
#navbar .block {
margin-bottom:0;
padding-bottom:0
}

/*Make sure the background is still covering search box, when primary disappear*/
.no-sidebars #navbar-inner {
background-color:#000
}

#search-box /* Wrapper for the search form */ {
float:right;
background-color:#000
}

#search label /* Label that says "Search this site:" */ {
display:none
}

#search {
width:190px;
height:32px;
background:transparent url(images/sprites.png) no-repeat left -85px
}

#edit-search-theme-form-1 div {
margin:0;
padding-right:0
}

#search input.form-text {
width:150px;
background:none;
border:none;
margin:8px 0 0 10px;
font-size:11px
}

#search .form-submit {
margin:0;
display:none
}

/* Primary links */
#primary {
line-height:32px;
background-color:#000;
max-height:32px; 
overflow:hidden
}
#primary li a {
color:#eaeaea;
padding:9px 10px
}

#primary li a:hover,#primary li a.active,#primary li.active-trail a {
background-color:#CA0F10;
color:#fff
}

#primary li a.active,#primary li.active-trail a {
font-weight:800
}

#primary ul.links li{padding:0}

/* Secondary links */
#secondary {
border-top:3px solid #A70000;
border-bottom:2px solid #EAEAEA;
clear:both;
line-height:32px;
}

#secondary ul.links li{
padding:5px 8px 8px;
}
#secondary li a {
color:#666;
font-weight:200
}

#secondary li a.active {
color:#000;
font-weight:800;
border-bottom:3px solid #777;
padding-bottom:8px;
}

#secondary li a:hover {
color:#000;
border-bottom:3px solid #777;
padding-bottom:8px;
}

#secondary li.active a:hover {
background-color:transparent
}

/** footer **/
#footer {
font-size:0.8em;
text-transform:uppercase;
border-top:3px solid #EAEAEA;
border-bottom:1px solid #EAEAEA;
letter-spacing:0.5px;
line-height:normal;
}

#footer-inner {
}

#footer li,#footer li a {
background:none;
border:0;
display:inline;
padding:0.2em 1em 0.2em 0;
margin:0
}

#footer a:hover{
}

#footer .block {
background:none
}

#footer .block ul {
padding:0
}

#footer-message /* Wrapper for the footer message from Drupal "Site information"
and for any blocks placed in the footer region */ {
float:right
}

/** closure **/
#closure-blocks /* Wrapper for any blocks placed in the closure region */ {
}

#back-to-top {
float:left;
margin:0 10px 0 0;
}

#back-to-top a:link,#back-to-top a:visited {
color:#ccc;
background-color:#333;
padding:1px;
}

#back-to-top a:hover {
color:#fff;
}

/** Drupal nodes **/
.node /* Node wrapper */ {
margin-bottom:2em;
}

.node-inner {
padding-bottom:.5em;
border-bottom:1px solid #EAEAEA
}

.front .sticky /* A sticky node (displayed before others in a list) */ {
border-top:1px solid #d3d3d3;
border-bottom:1px solid #d3d3d3;
margin-bottom:20px;
padding:1px 0;
}
/*Make sure only applies to sticky*/
.front .sticky .node-inner{
background-color:#f3f3f3;
border-bottom:2px solid #d3d3d3;
border-top:2px solid #d3d3d3;
margin:1px 0;
padding:10px;
}

.node-unpublished /* Unpublished nodes */ {
/* background-color: #fff4f4; */
/* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,/* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished {
height:0;
overflow:visible;
color:#d8d8d8;
font-size:75px;
line-height:1;
font-family:Impact, "Arial Narrow", Helvetica, sans-serif;
font-weight:700;
text-transform:uppercase;
text-align:center;
word-wrap:/* A very nice CSS3 property */
break-word
}

.node-mine /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
color:#c00
}

.node .picture /* The picture of the node author */ {
float:right;
margin:5px 0 10px 10px
}

/*Make sure that the avatar size doesn't break layout. Adjust imagecache avatar preset.*/
.node .picture img,.comment .picture img {
width:40px;
height:40px
}

.node .content .field-item img {
float:left;
margin:5px 10px 10px 0
}

.node.node-unpublished .picture,.comment.comment-unpublished .picture {
position:/* Otherwise floated pictures will appear below the "Unpublished" text. */
relative
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
color:#777;
font-size:.92em
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node content wrapper */ {
min-height:80px
}

.node div.links /* Wrapper for node links */ {
margin:1em 0
}

ul.links /* Taxonomy links,node links,comment links */ {
margin:0;
padding:0
}

ul.links.inline {
display:inline
}

ul.links li {
display:inline;
list-style-type:none;
padding:0 0.5em 0 0
}

.preview .node /* Preview of the content before submitting new or updated content */ {
/* background-color: #ffffea; */
/* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
#comments /* Wrapper for the list of comments and its title */ {
margin:1em 0
}

#comments-title /* Heading for the list of comments */ {
font-size:1.4em;
font-variant:small-caps;
font-weight:200;
letter-spacing:.5px
}

.comment /* Wrapper for a single comment */ {
}

.comment-inner /* Additional wrapper for a single comment */ {
padding:10px
}

.comment-preview /* Preview of the comment before submitting new or updated comment */ {
}

.comment.new /* A new comment since the user last viewed the page. */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
background-color:#EDF5FA
}

.comment.even /* An even-numbered comment in the list of comments */ {
}

.comment.first /* The first comment in the list of comments */ {
}

.comment.last /* The last comment in the list of comments */ {
}

.comment-unpublished /* Unpublished comments */ {
/* background-color: #fff4f4; */
/* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */ {
}

.comment-published /* Published comments */ {
}

.comment-by-anon /* A comment created by an anonymous user */ {
}

.comment-by-author /* A comment created by the node author */ {
}

.comment-mine /* A comment created by the current user */ {
}

.comment h3.title /* Comment title */ {
}

.new /* "New" marker for comments that are new for the current user */ {
color:#c00
}

.comment .picture /* The picture of the comment author */ {
}

.comment .submitted /* The "posted by" information */ {
}

.comment .content /* Comment content wrapper */ {
}

.comment .user-signature /* The user signature */ {
}

.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */ {
margin:1em 0
}

.indented /* Nested comments are indented */ {
/* margin-left: 25px; */
/* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
/* background-color: #ffffea; */
/* Drupal core uses a #ffffea background */
}

/** Drupal blocks **/
.block /* Block wrapper */ {
margin-bottom:15px;
padding-bottom:15px
}

.block ul {
margin:0;
padding:0 0 0.25em 0.5em
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block-inner /* Additional wrapper for block */ {
}

.block h2.title /* Block title */ {
font-size:1.4em;
font-variant:small-caps;
letter-spacing:1px
}

.block .content /* Block content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book table of contents */ {
}

#block-comments-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-2 /* "Primary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who new" block for a list of the newest users */ {
}

#block-user-3 /* "Who online" block for a list of the online users */ {
}

/** Drupal boxes **/
/* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
.box /* Wrapper for box */ {
}

.box-inner /* Additional wrapper for box */ {
}

.box h2.title /* Box title */ {
}

.box .content /* Box content wrapper */ {
}

/** Miscellaneous Drupal styles **/
.error /* Errors that are separate from div.messages status messages (see above.) */ {
/* color: #e55; */
/* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages (see above.) */ {
/* color: #e09010; */
/* Drupal core uses a #e09010 background */
}

.more-link /* Aggregator,blog,and forum more link */ {
text-align:right
}

#user-login-form /* Drupal default login form */ {
text-align:left
}

tr.even /* Some tables have rows marked even or odd. */ {
/* background-color: #eee; */
/* Drupal core uses a #eee background */
}

tr.odd {
/* background-color: #eee; */
/* Drupal core uses a #eee background */
}

li a.active /* The active item in a Drupal menu */ {
color:#000
}

.container-inline div,.container-inline label /* Inline labels and form divs */ {
display:inline
}

.tips /* Tips for Drupal input formats */ {
margin:0;
padding:0;
font-size:0.9em
}

/** OpenID **/
/* The default styling for the OpenID login link seems to assume Garland
   * styling of list items.
   */
#user-login-form ul /* OpenID creates a new ul above the login form links. */ {
margin-bottom:/* Position OpenID ul next to the rest of the links. */
0
}

#user-login-form li.openid-link,/* The "Log in using OpenID" links. */
#user-login li.openid-link {
margin-top:1em;
margin-left:-20px;
/* Un-do some of the padding on the ul list. */
padding-left:20px;
background-position:left center
}

#user-login-form li.user-link,/* The "Cancel OpenID login" links. */
#user-login li.user-link {
margin-top:1em;
list-style-type:disc;
list-style-position:outside
}

#user-login li.openid-link,/* The OpenID links on the /user form. */
#user-login li.user-link {
margin-left:/* Un-do all of the padding on the ul list. */
-2em
}

.item-list ul li {
list-style-type:none;
margin:0.15em 0;
padding:0 0 0.2em .8em;
background:transparent url(images/li.png) no-repeat scroll 0 0.5em
}

/*Codefilter module and block quote*/
blockquote,div.codeblock {
border-left:3px solid #ccc;
color:#777;
margin:10px;
padding:10px;
width:90%;
clear:both;
display:block;
float:left
}

blockquote {
font-style:italic;
}

div.codeblock {
font-family:monospace;
font-size:1.2em;

}

/** Forms, Tables, Forum Tables and Administrations **/
#autocomplete li{cursor:default;margin:0;padding:2px}
#autocomplete li.selected,tr.selected td,tr.selected td.active{background:#027ac6;color:#fff}
#center form{margin-bottom:2em}
#dblog-form-overview .form-submit,.confirmation .form-submit,.search-form .form-submit,.poll .form-submit,fieldset .form-button,fieldset .form-submit,.sidebar .form-button,.sidebar .form-submit,table .form-button,table .form-submit,div.admin-panel dl,.messages ul{margin:0}
#system-themes-form img{max-width:150px}
.box{margin-bottom:2.5em}
.description{color:#898989;font-size:.92em;line-height:150%;margin-bottom:.75em}
.form-button,.form-submit{margin:0 .5em 1em 0}
.form-checkboxes .form-item,.form-radios .form-item{margin:0.4em 0}
.form-checkboxes,.form-radios,.form-checkboxes .form-item,.form-radios .form-item{margin:.25em 0}
.form-item .description {font-size:0.85em}
.form-item input.error,.form-item textarea.error{border:1px solid #c52020;color:#363636}
.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid #c00}
.form-item label{display:block;font-weight:700}
.form-item label.option{display:inline;font-weight:400}
.form-item,.form-checkboxes,.form-radios{margin:1em 0}
.form-required{color:#c00}
.messages{background-color:#fff;border:1px solid #b8d3e5}
.messages,.preview{margin:.75em 0;padding:.5em 1em}
.preview{background-color:#fcfce8;border:1px solid #e5e58f}
.preview .node{background-color:#fcfce8}
.section-admin #content-inner{overflow:visible;z-index:8}
div.admin .left{float:left;width:48%}
div.admin .right{float:right;width:48%}
div.admin h3{margin-bottom:0}
div.admin-panel{background:none;padding:1em 1em 1.5em}
div.admin-panel .description{margin-bottom:1.5em}
div.admin-panel dd{color:#898989;font-size:.92em;line-height:1.3em;margin-bottom:.65em;margin-top:-0.2em}
div.error,tr.error{background-color:#fcc;color:#a30000}
div.status{color:#33a333;border-color:#c7f2c8}
fieldset{background:#fff;border:1px solid #EAEAEA;margin:1em 0;padding:1em}
fieldset legend{display:block}
fieldset ul.clear-block li,div.admin-panel,div.admin-panel .description,div.admin-panel .body,div.admin,div.admin .left,div.admin .right,div.admin .expert-link,div.item-list,.menu{margin:0;padding:0}
ul.menu li {margin:0 0 0 0.8em;}
form tbody{border-top:1px solid #ccc}
form tbody th{border-bottom:1px solid #ccc}
form th,form thead th{border-bottom:3px solid #ccc;padding-right:1em;text-align:left}
input{color:#494949;font-size:1em}
quote,code,fieldset{margin:.5em 0}
span.form-required{color:#ffae00}
table{width:100%;margin:1em 0}
table.system-status-report th{border-color:#d4e7f3}
table.system-status-report tr.error,table.system-status-report tr.error th{background-color:#fcc;color:#200;border-color:#ebb}
table.system-status-report tr.ok,table.system-status-report tr.ok th{background-color:#dfd;border-color:#beb}
table.system-status-report tr.warning,table.system-status-report tr.warning th{background-color:#ffd;border-color:#eeb}
tbody{border-top:none}
td,th{padding:.3em .5em}
td.region,td.module,td.container,td.category{background-color:#ccc;border-bottom:1px solid #666;border-top:1.5em solid #fff;color:#999;font-weight:700}
textarea,select{color:#494949;font:1em Verdana, sans-serif;max-width:400px}
th a:link,th a:visited{color:#7f7f7f}
thead th{border-bottom:2px solid #ccc;color:#494949;font-weight:700}
tr.drag-previous{background-color:#ffd}
tr.even td.active,tr.odd td.menu-disabled{background-color:#edf5fa}
tr.even,tr.even td.menu-disabled{background-color:#fff}
tr.even,tr.odd,tbody th{border:solid #ccc;border-width:1px 0}
tr.odd td.active{background-color:#d4e7f3}
tr.odd,tr.info,tr.drag{background-color:#F3F3F3}
tr.selected td a:link,tr.selected td a:visited,tr.selected td a:active{color:#d4e7f3}
tr.taxonomy-term-divider-bottom{border-top:1px dotted #ccc}
tr.taxonomy-term-divider-top{border-bottom:none}
tr:first-child td.region,tr:first-child td.module,tr:first-child td.container,tr:first-child td.category{border-top-width:0}



/*Grid toggle, useful on devs, remove from production*/
#switchgrid{position:fixed;bottom:50px;left:-2px;width:33px;height:80px;background:transparent url(images/sprites.png) no-repeat -45px top;overflow:hidden;text-indent:-3000px;z-index:12000}
#switchgrid.off{background-position:0 top}
.showgrid{margin:0 auto;padding:0;text-align:center}
.container.showgrid{}
.showgrid #main-inner,.showgrid .farleft,body.one-sidebar .showgrid .farleft,body.two-sidebars .showgrid .farleft{border-right:1px dotted red}
.showgrid #main,.showgrid #footer-inner{border-top:1px dotted red}
.showgrid .block,.showgrid #content-inner{border:1px dotted #02FA19}
.showgrid #main,.showgrid .farleft,.showgrid #main-inner,.showgrid #page-inner,.showgrid fieldset{background:none;background-color:transparent}
.showgrid #page-inner{
/*float:left;width:960px;background:url(images/grid16.png) repeat-y 0 0;*/
float:left;width:960px;background:url(images/grid24.png) repeat-y 0 0;text-align:left
}
